---
layout: page
title: Lajme
permalink: /sq/
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Lajmet e fundit</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
<div class="col-md-8" style="padding-top:40px;">
  
{% for post in site.posts %}
{% if post.lang == 'sq' %}
<div class="post-area">
  <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
  <p class="post-date">{{ post.date | date_to_long_string }}</p>
  <p>
    {{ post.content | strip_html | truncatewords: 50 }}
  </p>
</div>
{% endif %}
{% endfor %}
</div>
<div class="col-md-4" style="padding-top:40px;">
     <a class="twitter-timeline" href="https://twitter.com/flosskosova?ref_src=twsrc%5Etfw" data-height="500" >Tweets by flosskosova</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
   </div>
</div>
</div>
