---
layout: page
title: Home
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Get the latest on what we're doing</h1>
          <p>Catch up with us, anytime and anywhere</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container pt-2">
  <div class="col-md-8">
  {% for post in paginator.posts %}
  {% if post.lang == 'en' %}
  <div class="post-area">
    <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
    <p class="post-date">{{ post.date | date_to_long_string }}</p>
    <p>
      {{ post.content | strip_html | truncatewords: 50 }}
    </p>
  </div>
  {% endif %}
{% endfor %}
{% if paginator.total_pages > 1 %}
<div class="pagination text-center" style="display: block;">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..10) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
  </div>
   <div class="col-md-4" style="padding-top:40px;">
     <a class="twitter-timeline" href="https://twitter.com/flosskosova?ref_src=twsrc%5Etfw" data-height="500" >Tweets by flosskosova</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
   </div>
</div>
